<mat-list-item class="task-item">
  <div class="task-body">
    <div class="task-header">
      <mat-checkbox
        [(ngModel)]="task.completed"
        (click)="toggleTodo(task.id!, task.completed)"
      >
      </mat-checkbox>
      <div class="task-main">
        <div class="task-title">
          <p>{{ task.title }}</p>
        </div>
        <div class="task-description">
          <p>{{ task.description }}</p>
        </div>
        <div class="task-footer">
          @if(task.tags?.length){
          <div class="tags">
            <mat-icon class="footer-icon">label</mat-icon>
            @for(tag of task.tags; track tag){
            <span>{{ tag }}</span>
            }
          </div>
          }
          <div class="due-date">
            @if(task.dueDate){
            <mat-icon class="footer-icon">event</mat-icon>
            <span>{{ task.dueDate | date : "shortDate" }}</span>
            }
          </div>
          <div class="due-date">
            @if(task.dueDate && hasTime(task.dueDate)){
            <mat-icon class="footer-icon">alarm</mat-icon>
            <span>{{ task.dueDate | date : "shortTime" }}</span>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="task-options">
      @if(task.id){
      <app-edit-task [task]="task"></app-edit-task>
      }
      <button
        mat-icon-button
        aria-label="Excluir tarefa"
        (click)="deleteTodo(task.id!)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div></mat-list-item
>
