#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px 8px;
  background-color: rgba(10, 10, 10, 0.5);
  width: 800px;
  height: 56px;
  position: absolute;
  z-index: 10;
  backdrop-filter: blur(12px);
}

#header-left {
  display: flex;
  color: white;
  gap: 12px;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 4px;
}

::ng-deep.mat-mdc-menu-panel {
  max-width: 100% !important;
}

.demo-inline-calendar-card {
  width: 300px;
}
