<div id="header">
  <div id="header-left">
    <img src="images/listo-logo.svg" class="logo" />
    <div class="header-title">
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <span class="date"> {{ date | date : "shortDate" }}</span>
        <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="menu">
        <mat-card
          (click)="$event.stopPropagation()"
          class="demo-inline-calendar-card"
        >
          <mat-calendar
            [(selected)]="date"
            (selectedChange)="updateDate(); closeMenu()"
          ></mat-calendar>
        </mat-card>
      </mat-menu>
    </div>
  </div>
  <div class="header-right">
    <app-search></app-search>
    <app-new-task></app-new-task>
  </div>
</div>
