<div class="task-list">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">list</mat-icon>
        Todos
      </ng-template>
      <div class="list-body">
        <mat-list class="mat-list">
          @if (toDo$ | async; as todos) { @for (todo of todos; track todo.id) {

          <app-task [task]="todo"></app-task>

          } @empty {
          <li>There are no items.</li>
          } }
        </mat-list>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">done_all</mat-icon>
        Completed
      </ng-template>
      <div class="list-body">
        <mat-list class="mat-list">
          @if (done$ | async; as todos) { @for (todo of todos; track todo.id) {
          <app-task [task]="todo"></app-task>
          } @empty {
          <li>There are no items.</li>
          } }
        </mat-list>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
