<h2 mat-dialog-title>Editar tarefa</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Título</mat-label>
      <input matInput placeholder="" [(ngModel)]="data.title" name="title" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        placeholder=""
        [(ngModel)]="data.description"
        name="description"
      ></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prazo</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [(ngModel)]="data.dueDate"
        name="dueDate"
      />
      <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="example-chip-list">
      <mat-label>Etiquetas</mat-label>
      <mat-chip-grid #chipGrid aria-label="Tag selection">
        @for (tag of tags(); track $index) { @if (tag === ""){ }@else{
        <mat-chip-row (removed)="remove(tag)">
          {{tag}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag">
            <mat-icon>cancelar</mat-icon>
          </button>
        </mat-chip-row>
        } }
      </mat-chip-grid>
      <input
        name="currentTag"
        placeholder="Nova etiqueta..."
        #tagInput
        [(ngModel)]="currentTag"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event); tagInput.value = ''"
      >
        @for (tag of filteredTags(); track tag) {
        <mat-option [value]="tag">{{tag}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="updateTask()">
    Adicionar
  </button>
</mat-dialog-actions>
