<h2 mat-dialog-title>Editar tarefa</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Título</mat-label>
      <input matInput placeholder="" [(ngModel)]="newTask.title" name="title" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Descrição</mat-label>
      <textarea
        matInput
        placeholder=""
        [(ngModel)]="newTask.description"
        name="description"
      ></textarea>
    </mat-form-field>
    <div class="date-time">
      <mat-form-field>
        <mat-label>Prazo</mat-label>
        <input
          matInput
          [matDatepicker]="datepicker"
          [(ngModel)]="newTask.dueDate"
          name="dueDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="datepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pick a time</mat-label>
        <input
          matInput
          [(ngModel)]="newTask.dueDate"
          [matTimepicker]="timepicker"
          name="dueDate"
        />
        <mat-timepicker-toggle matIconSuffix [for]="timepicker" />
        <mat-timepicker #timepicker />
      </mat-form-field>
    </div>
    <mat-form-field class="example-chip-list">
      <mat-label>Etiquetas</mat-label>
      <mat-chip-grid #chipGrid aria-label="Selecionar de etiqueta">
        @for (tag of tags(); track $index) { @if (tag === ""){ }@else{
        <mat-chip-row (removed)="remove(tag)">
          {{tag}}
          <button matChipRemove [attr.aria-label]="'remover ' + tag">
            <mat-icon>cancelar</mat-icon>
          </button>
        </mat-chip-row>
        } }
      </mat-chip-grid>
      <input
        name="currentTag"
        placeholder="Nova etiqueta..."
        #tagInput
        [(ngModel)]="currentTag"
        [matChipInputFor]="chipGrid"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event); tagInput.value = ''"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        (optionSelected)="selected($event); tagInput.value = ''"
      >
        @if(filteredTags() | async; as tags){ @for (tag of tags; track tag) {
        <mat-option [value]="tag.name">{{tag.name}}</mat-option>
        } }
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="updateTask()">
    Atualizar
  </button>
</mat-dialog-actions>
